.container {
  display: flex;
  height: 90vh;
  width: 100%;
  background-color: #f8f9fa;
  padding: 2rem;
  box-sizing: border-box;
}

.aside-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  width: 25%;
  background-color: #ffffff;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.choice-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.choice-container h1 {
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
  text-align: left;
  color: #333;
}

.choice-container div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.radio-input {
  margin-right: 0.5rem;
  width: 1rem !important;
  cursor: pointer;
}

.radio-label {
  font-weight: bold;
  cursor: pointer;
  color: #555;
}

.main-container {
  display: flex;
  align-items: flex-start;
  width: 75%;
  padding: 2rem;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-left: 2rem;
}
