.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #343a40;
  height: 10vh;
  padding: 0 5rem;
  width: 100%;
  color: #ffffff;
}

.header-container > ul {
  display: flex;
  flex-direction: row;
}

.header-container > ul > li {
  padding: 0.5rem;
  list-style: none;
}

.header-container > ul > li > a {
  color: #ffffff;
  text-decoration: none;
}

.header-container > ul > li:hover {
  font-size: 1.2rem;
}

.header-container > a {
  color: #ffffff;
  text-decoration: none;
}